<div class="bg-color">
    <div class="container-bg">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <div class="search-div">
                    <a class="navbar-brand">Lista de Personagens</a>
                    <form class="d-flex" role="search">
                        <input class="form-control" type="search" placeholder="Pesquisar..." aria-label="Search"
                            (input)="onSearch($event)">
                    </form>
                </div>
                <div class="info-profile">
                    <div class="user-info">
                        <h2>Bem vindo(a)!</h2>
                        <p>{{user}}</p>
                    </div>
                    <div class="logout">
                        <button (click)="logout()" class="btn btn-primary">Logout</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <app-character-list [characters]="characters"></app-character-list>
    <div *ngIf="noResults" class="no-results">
        Nenhum personagem encontrado.
    </div>
</div>