.bg-color{
    background-color: rgb(49, 47, 47);
    nav{
        background-color: rgba(20, 20, 20, 0.959);
    }
}

.container-bg{
    background-color: black;
}

.navbar{
    background-color: rgba(29, 26, 26, 0.76) !important;
    a, div, h2, p{
        background-color: rgba(20, 20, 20, 0.959);
        color: chartreuse;
    }
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.logout{
    display: flex;
    justify-content: end;
}

.search-div{
    padding: 10px;
}

.info-profile{
    padding: 10px;
}

.no-results {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    color: chartreuse;
  }