.card{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgba(20, 20, 20, 0.959);
}

.card-body {
    background-color: rgba(20, 20, 20, 0.959);
    color: chartreuse;
    h1{
        background-color: rgba(20, 20, 20, 0.959);
    }
    p{
        background-color: rgba(20, 20, 20, 0.959);
    }
}