.container {
    display: flex;
    justify-content: center;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .padding-15px{
    padding: 15px;
  }
  
  .card {
    cursor: pointer;
    transition: transform 0.2s;
    background-color: rgba(29, 26, 26, 0.76);
    color: chartreuse;
  }

  .card-body{
    text-align: center;
    background-color: rgba(20, 20, 20, 0.959);
      h5{
        background-color: rgba(20, 20, 20, 0.959);
      }
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 200px; /* Ajuste conforme necessário */
    object-fit: cover;
  }
  